
<% @applications.each do |application| %>
<p class="head-link"> <%= link_to "#{application.name} Application", application_path(application.id) %> </p>
<% @application = application %>
<%= render "shared/app_address" %>
Description: <%= application.description %><br>

<%= button_to "Delete #{application.name}'s Application", "/applications/#{application.id}", method: :delete %>
<% end %>
