<p class="header-link"> <%= "#{@application.name}'s Application" %> </p>

<%= render 'shared/app_address' %>

<%= button_to "Delete Application", "/applications/#{@application.id}", method: :delete %>
<header class="header-link"> Pets: </header>
  <%= render partial: @application.status %>
