<h1>All Pets</h1>

<%= link_to "Start an Application", "/applications/new" %><br>


<% @pets.each do |pet| %>
  <% if pet.adoptable == true %>
  <% @pet = pet %>
  <section id="pet-<%=pet.id%>">
      <%= render 'shared/pets_table' %>
    </section>
  <% end %>
<% end %>
