<header> Admin's Page </header>
<h1> All Applications </h1>
<% @applications.each do |application| %>
  <%= application.name %>
<h2>name: <%= link_to "#{application.name}", admin_application_path(application.id) %></h2>

<% end %>
