<h1> Shelters </h1>
<% @shelters.each do |shelter| %>
  <% @shelter = shelter %>
  <%= render "shared/shelter_table" %>
<% end %>


  <div class="shelter_box">
  <p>Shelter's with Pending Applications </p>
      <% Shelter.shelter_with_app_pending.distinct.each do |shelter| %>
            <%= link_to "#{shelter.name}'s Shelter", "/admin/shelters/#{shelter.id}" %><br>
      <% end %>
  </div>
